{
    "$schema": "https://raw.githubusercontent.com/skymethod/denoflare/v0.6.0/common/config.schema.json",
    "scripts": {
        "scrapbox-sitemap": {
            "path": "./index.ts",
        }
    },
    "profiles": {
        "account1": {
            "accountId": "cloudflare_account_id",
            "apiToken": "cloudflare_api_token"
        }
    }
}
